body {
  min-height: 2000px;
  padding-top: 70px;
}

.content {
  display: flex;
  align-items: center;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  margin-bottom: 10px;
}

.content-votes {
  text-align: center;
}

h3 {
  margin: 0;
}

.add-post {
  margin: 7px 0;
}

.arrow {
  cursor: pointer;
}

.arrow::selection {
  background-color: inherit;
}
